<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/studentUpdateInfo.css" />
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        $(function () {
            const flag = true;

            //비밀번호 정규표현식 사용 
            $("#StudentPassword").on("keyup", checkPasswordRegex);

            //비밀번호 확인이 일치하는지의 여부 
            $("#checkPassword").on("keyup", checkPassword);

            //관리자명 조회를 위한 버튼 클릭 & 모달창 생성 
            $("#selectBtn").on("click", selectAdmin);

            //모달창 닫기 
            $("#closeBtn").on("click", closeModal);

            //제출
            $("#submitBtn").on("click", signUp);
        })

        function checkPasswordRegex() {
            //정규표현식
            const regex = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*?_]).{8,16}$/;

            //고객이 입력한 비밀번호 
            const password = $("#StudentPassword").val();

            if (!regex.test(password)) {
                data = `<b style="color:red;">비밀번호는 8자리 이상 특수문자, 영어대소문자를 포함해야합니다.</b>`;
                $("#passwordRegex").html(data);
                return false;
            }
            $("#passwordRegex").text("");
            return true;
        }

        function checkPassword() {
            const checkPassword = $("#checkPassword").val();
            const password = $("#StudentPassword").val();

            if (checkPassword != password) {
                data = `<b style="color:red;">입력하신 비밀번호와 일치하지 않습니다.</b>`;
                $("#checkError").html(data);
                return false;
            }

            $("#checkError").text("");
            return true;

        }

        function selectAdmin() {
            //alert('눌렀지?');
            const modal = $("#modal");
            modal.addClass("show-modal");

            $.ajax({
                type: "GET",
                url: "/student/findAllAdmin",
                dataType: "json",
                success: function (resp) {

                    let tags = `<table border="1" id="adminTable">
                            <tr>
                                <th>이름</th>
                                <th></th>
                            </tr>`;
                    for (var i = 0; i < resp.length; i++) {
                        tags += `<tr>
                                    <td>` + resp[i].name + `</td>
                                    <td>
                                        <button type=button class="choiceBtn" value="${resp[i]._id}">선택</button>
                                    </td>
                                </tr>`;
                    }

                    tags += ` </table>`;


                    $("#outputTable").html(tags);

                    //모달창 선택버튼
                    $(".choiceBtn").on("click", choiceAdmin);
                }
            })
        };

        function choiceAdmin() {
            //alert("되니?");
            //alert($(this).val());
            const adminId = { "adminId": $(this).val() };
            $.ajax({
                type: "POST",
                url: "/student/readOneAdmin",
                dataType: "json",
                data: adminId,
                success: function (resp) {
                    //alert(JSON.stringify(resp)); //조회한 관리자의 모든 정보가 넘어옴

                    const val = [];
                    for (let [key, value] of Object.entries(resp)) {
                        // console.log(`key값 : ${key}`);
                        // console.log(`value값 : ${value}`);
                        val.push(value);

                    }
                    //console.log(val[3]);;
                    const adminId = val[0];
                    const adminName = val[3];
                    $("#adminName").val(adminName);
                    $("#dutyAdmin").val(adminId);
                    closeModal();



                }
            })
        }

        function closeModal() {
            const modal = $("#modal");
            modal.removeClass("show-modal");
        };

        function signUp(e) {
            e.preventDefault();


            if ($("#StudentPassword").val().length == 0) {
                alert("비밀번호를 입력해주세요.");
                return false;
            }

            if ($("#studentPhone").val().length == 0) {
                alert("연락처를 입력해주세요.");
                return false;
            }

            if ($("#checkPassword").val().length == 0) {
                alert("비밀번호 확인이 필요합니다.");
                return false;
            }

            if ($("#dutyAdmin").val().length == 0) {
                alert("담당 관리자를 설정해주세요.");
                return false;
            }

            if ((!checkPasswordRegex() || !checkPassword()) && !flag) {
                alert("데이터를 모두 정확히 입력해 주세요.");
                return;
            } else {
                $("#UpdateForm").submit();
            }
        }

    </script>
</head>

<body>
    <div class="sub-page-student">
        <div class="div">


            <!-- include student Header-->
            <%- include('./include/studentHeader') %>
                <!-- /include student Header-->

                <!-- middle-->
                <div class="page-title">개인정보 수정</div>

                <form action="/student/<%= student._id %>?_method=PUT" method="POST" id="UpdateForm">

                    <label for="userName" class="input-name">이름</label>
                    <input type="text" class="input-box" id="userName" name="name" value="<%= student.name %>" readonly>

                    <label for="userId" class="input-name">아이디</label>
                    <input type="text" class="input-box" id="userId" name="userId" value="<%= student.userId %>"
                        readonly>

                    <label for="userPassword" class="input-name">비밀번호</label>
                    <input type="password" class="input-box" id="StudentPassword" name="password">
                    <div id="passwordRegex"></div>

                    <label for="userContact" class="input-name">연락처</label>
                    <input type="text" class="input-box" id="studentPhone" name="phone" value="<%= student.phone %>">

                    <label for="checkPassword" class="input-name-2">비밀번호 확인</label>
                    <input type="password" class="input-box-2" id="checkPassword">
                    <div id="checkError"></div>

                    <label for="admin" class="input-name">관리자명</label>
                    <input type="text" class="input-box" id="adminName" value="<%= admin.name %>">
                    <input type="hidden" name="admin" id="dutyAdmin" value="<%= admin._id %>">

                    <input type="button" class="find-admin-button" value="변경" id="selectBtn">

                    <!-- select Admin modal-->
                    <div class="modal-container" id="modal">
                        <div class="modal">
                            <h2>관리자 선택</h2>
                            <div id="outputTable"></div>
                            <button type="button" id="closeBtn">닫기</button>
                        </div>
                    </div>
                    <!-- end of modal -->

                    <input type="button" class="modify-button" id="submitBtn" value="수정">
                </form>

                <!-- end of middle-->

                <div class="footer"></div>
        </div>
    </div>
</body>

</html>